@model MvcMusicStore.ViewModels.CreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.artist)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GenreList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(vm => vm.GenreId, Model.GenreList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.artist)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(artist => artist.ArtistId, Model.ArtistList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.albumArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.albumArtUrl)
            @Html.ValidationMessageFor(model => model.albumArtUrl)
        </div>

        <div class="editor-label">
            <input class="btn btn-success" type="submit" value="Create" />
        </div>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
