@model MvcMusicStore.Models.Genre

@{
    ViewBag.Title = "Browse";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Browsing Genre: @Model.Name</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Price</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.Albums)
            {
                <tr>
                    <td>@album.Title</td>
                    <td>@album.Price</td>

                    <td>
                        @{
                            
                            
                        }
                        @Html.ActionLink("Edit", "Edit", "StoreManager",new {id = album.AlbumId}, new {id = album.AlbumId}) |
                        @Html.ActionLink("Details", "Details", "StoreManager", new {id = album.AlbumId}, new { id = album.AlbumId }) |
                        @Html.ActionLink("Delete", "Delete", "StoreManager", new {id = album.AlbumId}, new {id = album.AlbumId})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
